.producto {
  flex: 4;
  padding: 20px;
}

.productoTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productoAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.productoContainer {
  display: flex;
  margin-top: 20px;
}

.productoShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productoUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.productoShowTop {
  display: flex;
  align-items: center;
}

.productoShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.productoShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.productoShowproductoname {
  font-weight: 600;
}

.productoShowproductoTitle {
  font-weight: 300;
}

.productoShowBottom{
    margin-top: 20px;
}

.productoShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.productoShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.productoShowIcon{
    font-size: 16px !important;
}

.productoShowInfoTitle{
    margin-left: 10px;
}

.productoUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.productoUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.productoUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.productoUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.productoUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.productoUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productoUpdateUpload{
    display: flex;
    align-items: center;
}

.productoUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.productoUpdateIcon{
    cursor: pointer;
}

.productoUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}