.tienda {
  flex: 4;
  padding: 20px;
}

.tiendaTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tiendaAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.tiendaContainer {
  display: flex;
  margin-top: 20px;
}

.tiendaShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.tiendaUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.tiendaShowTop {
  display: flex;
  align-items: center;
}

.tiendaShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.tiendaShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.tiendaShowtiendaname {
  font-weight: 600;
}

.tiendaShowtiendaTitle {
  font-weight: 300;
}

.tiendaShowBottom{
    margin-top: 20px;
}

.tiendaShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.tiendaShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.tiendaShowIcon{
    font-size: 16px !important;
}

.tiendaShowInfoTitle{
    margin-left: 10px;
}

.tiendaUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.tiendaUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.tiendaUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.tiendaUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.tiendaUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.tiendaUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tiendaUpdateUpload{
    display: flex;
    align-items: center;
}

.tiendaUpdateImg{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.tiendaUpdateIcon{
    cursor: pointer;
}

.tiendaUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}

.text-danger{
  color:red
}